page-contact {

    .facebook {
        font-size:50px;
        color:#3b5998;
    }

    .twitter {
        font-size: 50px;
    
        color: #4099FF;
    }

    .linkedin {
        font-size: 50px;
        color: #007bb6;
    }
}

